@(pl: String, adjectiveForm: Form[AdjectivePair])

@import helper._
@import logic.CaseDescription.cases
@import logic.CaseDescription.degrees
@import logic.CaseDescription
@import Application.declSing
@import Application.declPl
@import Application.plModes

@declBlock(c: CaseDescription, id: String) = {
	<br><font size=-1><b>@c.short @c.question: </b>
		<span id="@id"></span> 
		<a href='javascript:void(0)' id="@{id}_except" name="@{id}_except" width="20">[!]</a>
		<a href='javascript:void(0)' id="@{id}_unexcept" name="@{id}_unexcept" style="display:none" width="20">[*]</a>
	</font>
}

@caseBlock(lang: String, f: String, r: String) = {
	<td width="25%">
		<h2>@cases(lang + f + r).long</h2>
		@if(f=="m" || f=="f" || f=="n"){ 
	   		@for(c <- declSing){
				@declBlock(cases(lang + c), lang + f + r + c)
			}
		} else {
			@for(c <- declPl){
				@declBlock(cases(lang + c), lang + f + r + c)
			}
		}
	</td>
}

@advCaseBlock(lang: String) = {
	<td width="25%">
		<br><font size=-1><b>Przysłówek, @degrees("i"): </b><span id="@{lang}i"></span></font>
		<br><font size=-1><b>Przysłówek, @degrees("c"): </b><span id="@{lang}c"></span></font>
	</td>
}

@main("Tłumacz polsko-nowosłowiański - Dodaj przymiotnik") { 
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")" media="screen" />

  <div id="top">
    <h2> <a href="http://plns.herokuapp.com/">Tłumacz polsko-nowosłowiański</a></h2>
  </div>
  <div id="content">
  	<div id="wrap">
	@form(routes.Application.addAdjective,'id -> "adjectiveForm") {
		<div id="left">
			<div class="longbox">
				<h2><center>Przymiotnik PL</center></h2>
				<br><h3>Stopień równy</h3> @input(adjectiveForm("plInd")){ (id, name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args) value="@pl"></input>
    			}
    			<br><h3>Stopień wyższy</h3> @input(adjectiveForm("plCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
				<br><h3>Tryb</h3> @select(adjectiveForm("plMode"), options = options(plModes))
				<p><h2><center>Przysłówek PL</center></h2>
				<br><h3>Stopień równy</h3> @input(adjectiveForm("plAdvInd")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args) value="@pl"></input>
    			}
    			<br><h3>Stopień wyższy</h3> 
    			@input(adjectiveForm("plAdvCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<br><h3>Tryb</h3> @select(adjectiveForm("plAdvMode"), options = options(plModes))
				<p><h2>Wyjątki PL</h2>
				<div id="plExceptionsDiv" name="plExceptionsDiv"></div>
				@input(adjectiveForm("plExceptions")){ (id,name, value, args) =>
    				<input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
    			}
				<br><input type="button" id="clearPlExceptions" value="Wyczyść"/>
				<br><font size=-1>Aby dodać wyjątek, kliknij <b>[!]</b> obok danego wyrazu. Aby przywrócić regularną odmianę, kliknij <b>[*]</b>.</font>
				<p><h2>Ignoruj stopień wyższy</h2>@input(adjectiveForm("cmpIgnored")){ (id,name, value, args) =>
    			<input type="checkbox" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
   			</div>
		</div><div id="right"><div class="longbox"><center>
		<table>	<tr><td colspan=2><p><center><h2>Odmiana</h2></center></p></td></tr>
		<tr>
			@caseBlock("pl","m","i")
			@caseBlock("pl","m","c")
		</tr><tr>
			@caseBlock("pl","f","i")
			@caseBlock("pl","f","c")
		</tr><tr>
			@caseBlock("pl","n","i")
			@caseBlock("pl","n","c")
		</tr><tr>
			@caseBlock("pl","p","i")
			@caseBlock("pl","p","c")
		</tr><tr>
			@caseBlock("pl","P","i")
			@caseBlock("pl","P","c")
		</tr><tr>
			@advCaseBlock("pl")
			<td></td>
		</tr>
		</table>
		</center></div></div>
		<p><div id="clear"></div><p>
		<div id="left">
			<div class="longbox">
				<h2><center>Przymiotnik NS</center></h2>
    			<br><h3>Stopień równy</h3> @input(adjectiveForm("nsInd")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<br><h3>Stopień wyższy</h3> @input(adjectiveForm("nsCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<p><h2><center>Przysłówek NS</center></h2>
    			<br><h2>Stopień równy</h3> @input(adjectiveForm("nsAdvInd")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<br><h3>Stopień wyższy</h3> @input(adjectiveForm("nsAdvCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<p><h2>Wyjątki NS</h2>
				<div id="nsExceptionsDiv" name="nsExceptionsDiv"></div>
				@input(adjectiveForm("nsExceptions")){ (id,name, value, args) =>
    				<input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
    			}
				<br><input type="button" id="clearNsExceptions" value="Wyczyść"/>
				<br><font size=-1>Aby dodać wyjątek, kliknij <b>[!]</b> obok danego wyrazu. Aby przywrócić regularną odmianę, kliknij <b>[*]</b>.</font>
			</div>
		</div><div id="right"><div class="longbox"><center>
		<table>	<tr><td colspan=2><p><center><h2>Odmiana</h2></center></p></td></tr>
		<tr>
			@caseBlock("ns","m","i")
			@caseBlock("ns","m","c")
		</tr><tr>
			@caseBlock("ns","f","i")
			@caseBlock("ns","f","c")
		</tr><tr>
			@caseBlock("ns","n","i")
			@caseBlock("ns","n","c")
		</tr><tr>
			@caseBlock("ns","p","i")
			@caseBlock("ns","p","c")
		</tr><tr>
			@advCaseBlock("ns")
			<td></td>
		</tr>
		</table>
		</center></div></div>
	</div>

	<p><div id="clear"></div>
	<div class="left">
   				<h2>Jeśli zakończyłeś edycję:</h2><input type="submit" value="Dodaj do słownika"/>
   			</div>
	}

  <div id="footer">
    Copyright 2013 Maciej Gorywoda, <a href="mailto:makingthematrix@@gmail.com">makingthematrix@@gmail.com</a>,<a href="http://makingthematrix.wordpress.com" target="_blank">http://makingthematrix.wordpress.com</a> CSS design by <a href="http://www.colorlightstudio.com">Igor Penjivrag</a>
	</div>

	<div id="popupcontent">
		<font size=-1>
		<a id="statusbar" href="javascript:void(0);">Zamknij</a>
		<input type="hidden" id="exceptionKey" name="exceptionKey"/>
		<input type="hidden" id="exceptionLang" name="exceptionLang"/>
		<br><input type="text" id="exceptionInput" name="exceptionInput" width="40" height="20"></input>
		</font>
	</div>
	<div id="errors"></div>
	
	<script src="@routes.Assets.at("javascripts/adjective.js")" type="text/javascript"></script>

}