@(pairId: Long, pl: String, adverbForm: Form[AdverbPair]) 

@import helper._
@import logic.CaseDescription.degrees
@import logic.CaseDescription
@import Application.plModes

@caseBlock(lang: String, degree: String) = {
	<td width="50%">
	<font size=-1><b>@degrees(degree)</b>
		<span id="@(lang+degree)"></span> 
	</font>
	</td>
}

@main("Tłumacz polsko-nowosłowiański - Dodaj przysłówek") { 
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")" media="screen" />

  <div id="top">
    <h2> <a href="http://plns.herokuapp.com/">Tłumacz polsko-nowosłowiański</a></h2>
  </div>
  <div id="content">
  	<div id="wrap">
	@form(routes.Application.addAdverb,'id -> "adverbForm") {
		<input type="hidden" name="id" id="id" value="@pairId"/>
		<div id="left">
			<div class="box">
				<h2><center>Przysłówek PL</center></h2>
				<br><h2>Stopień równy</h2> @input(adverbForm("plInd")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args) value="@pl"></input>
    			}
    			<br><h2>Stopień wyższy</h2> 
    			@input(adverbForm("plCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<br><h2>Tryb</h2> @select(adverbForm("plMode"), options = options(plModes))
    		</div><div class="box">
				@input(adverbForm("cmpIgnored")){ (id,name, value, args) =>
    			<input type="checkbox" id="@id" @toHtmlArgs(args)>Ignoruj stopień wyższy</input>
    		}
   			</div>
   		</div><div id="right">
   			<div class="box">
   				<table width=400><tr><td colspan=2><center><h2>Odmiana</h2></center></td></tr>
				</tr><tr>
					@caseBlock("pl","i")
				</tr><tr>
					@caseBlock("pl","c")
				</tr><tr>
					@caseBlock("pl","s")
				</tr>
				</table>
   			</div>
   		</div>
   		<p><div id="clear"></div>
		<div id="left">
			<div class="box">
				<h2><center>Przysłówek NS</center></h2>
    			<br><h2>Stopień równy</h2> @input(adverbForm("nsInd")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}
    			<br><h2>Stopień wyższy</h2> @input(adverbForm("nsCmp")){ (id,name, value, args) =>
    				<input type="text" name="@name" id="@id" @toHtmlArgs(args)></input>
    			}		
  			</div>
		</div><div id="right">
			   	<table width=400><tr><td colspan=2><center><h2>Odmiana</h2></center></td></tr>
				</tr><tr>
					@caseBlock("ns","i")
				</tr><tr>
					@caseBlock("ns","c")
				</tr><tr>
					@caseBlock("ns","s")
				</tr>
				</table>
		</div>
	</div>
	<div id="clear"></div>
	<div class="box">
   		<h2>Jeśli zakończyłeś edycję:</h2><input type="submit" name="submit" id="submit" value="Dodaj do słownika"/>
   	</div>
	}

 </div>
<div id="footer">
Copyright 2013 Maciej Gorywoda, <a href="mailto:makingthematrix@@gmail.com">makingthematrix@@gmail.com</a>,<a href="http://makingthematrix.wordpress.com" target="_blank">http://makingthematrix.wordpress.com</a> CSS design by <a href="http://www.colorlightstudio.com">Igor Penjivrag</a>
</div>	 
		
<script src="@routes.Assets.at("javascripts/adverb.js")" type="text/javascript"></script>
	<script>
    $(document).ready(function() {
      $("#nsInd").focus();
    });
	</script>

}
